:root
{
  --color1: #757575;
  --color2: #e03c00;
  --color3: rgb(70, 70, 70);
}


html,
body
{
    height: 100%;
    margin: 0;
    overflow: hidden;
	background-color: var(--color3);
}


#layout
{
    height: 99%;
    display: flex;
	flex-direction: column;
    gap: 10px;
	padding: 2px;
}

#animateurs-panel {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#animateurs-list {
    display: grid;

    grid-auto-flow: column;

    grid-template-rows: repeat(3, auto);

    gap: 6px;

    width: fit-content;
}

.animateur {
    background-color: var(--color1);

    padding: 4px 10px;

    border-radius: 999px;

    white-space: nowrap;

    width: fit-content;
}

.animateur:hover
{
	background-color: rgb(39, 48, 48);
}

#calendars-container
{
    flex: 1;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
	border: 3px solid rgb(0, 0, 0);
	background-color: var(--color1);
	padding: 10px;
	border-radius: 10px;
}

#calendars-container h3
{
   background-color: var(--color2);
}

.calendar-card {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.calendar-card h3 {
    margin: 0;
    font-size: 13px;
    text-align: center;
}

.calendar {
    flex: 1;
    min-height: 0;
}