html, body
{
    height: 100%;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
}

#layout
{
    flex: 1;
    display: flex;
	gap: 10px;
    box-sizing: border-box;
    min-height: 0;
	padding: 10px;
}

#animateurs-list
{
    width: 10%;
    border: 1px solid red;
    overflow-y: auto;
}

#calendars-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.calendar {
    flex: 1;
    border: 1px solid black;
    min-height: 0;
}

.fc .fc-toolbar {
    margin-bottom: 0;
    padding: 0;

}

.fc .fc-button {
    padding: 2px 6px;
    font-size: 12px;

}


.fc .fc-toolbar-title {
    font-size: 16px;

}

.fc .fc-col-header-cell-cushion {
    font-size: 12px;
    padding: 4px;

}

.fc .fc-daygrid-day-frame {
    min-height: 60px;

}

.fc-event {
    font-size: 11px;
    padding: 1px 3px;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;

}

.centres
{
	margin: 0;
	text-align: center;
}

.animateur
{
	background-color: black;
	color: white;
	text-align: center;
	margin: 1px;
	cursor: pointer;
}

.animateur:active
{
    cursor: grabbing;
}