{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion équipe animation{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20,400,0&amp;icon_names=admin_panel_settings,analytics,calendar_month,category,description,event_available,groups,home,logout,space_dashboard&amp;display=block" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common-base.css' %}?v=20260720-css-refactor-2">
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/common-ui.css' %}?v=20260720-mobile-layout-1">
</head>
<body class="app-body {% block body_class %}{% endblock %}">
    {% csrf_token %}
    {% include "partials/_nav.html" with active=active_page %}
    {% block content %}{% endblock %}

    <script src="{% static 'js/ui.js' %}?v=20260720-menu-fixe-sans-import-1"></script>
    <script src="{% static 'js/common/documents.js' %}?v=20260718-week-period-1"></script>
    <script src="{% static 'js/common/colors.js' %}?v=20260718-week-period-1"></script>
    <script src="{% static 'js/common/forms.js' %}?v=20260718-week-period-1"></script>
    <script src="{% static 'js/common/week-picker.js' %}?v=20260718-week-period-1"></script>
    <script src="{% static 'js/common/staff-filter.js' %}?v=20260718-week-period-1"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
