{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning équipe</title>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/planning.css' %}">
</head>

<body>
    <main id="layout">

        <div id="animateurs-panel">
            <div id="animateurs-list"></div>
        </div>

        <div id="calendars-container">

            <div class="calendar-card">
                <h3>Pacaudière</h3>
                <div class="calendar" id="calendar-1"></div>
            </div>

            <div class="calendar-card">
                <h3>Saint-Forgeux</h3>
                <div class="calendar" id="calendar-2"></div>
            </div>

            <div class="calendar-card">
                <h3>Saint-Martin</h3>
                <div class="calendar" id="calendar-3"></div>
            </div>

        </div>

    </main>

    <script src="{% static 'js/planning.js' %}"></script>
</body>
</html>