{% extends "base.html" %}
{% load static %}
{% block title %}Temps de travail{% endblock %}
{% block body_class %}page-temps-travail{% endblock %}
{% block page_styles %}<link rel="stylesheet" href="{% static 'css/temps-travail.css' %}?v={{ asset_version }}">{% endblock %}
{% block content %}
{% include "partials/_page_header.html" with title="Temps de travail" picker_mode="none" header_class="worktime-page-header" context_selector=True %}
<main>{% include "partials/_temps_travail_panel.html" %}</main>
{% endblock %}
{% block scripts %}<script src="{% static 'js/temps-travail.js' %}?v={{ asset_version }}"></script>{% endblock %}
